*
{ 
    padding: 0;
    margin: 0;
}

html 
{
  scroll-behavior: smooth;
}

body
{
    background-color: #F5F5F5;
    margin: 0%;
}

.header
{
    background-color: #AEE5D1;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 99;
    top: 0;
}

.headerImage
{
    height: 100%;
    width: 12%;
}

.buttonContainerDiv
{
    height: 700px;
    width: 100%;
}

.buttonContainerDivOne
{
    width: 50%;
    float: left;
}

.buttonContainerDiv img
{
    margin-left: 10%;
    height: 100%;
    width: 90%;
}

.links
{
    margin-left: 20%;
}

.LoginPageLink
{
    background-color: #415380;
    color: #E4E4E4;
    font-size: 650%;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10%;
}

.SignupPageLink
{
    background-color: #415380;
    color: #E4E4E4;
    font-size: 650%;
    font-weight: bold;
    text-decoration: none;
}

.styleDivOne
{
    height: 85%;
    width: 40%;
    background-color: #535353;
    float: right;
    margin-right: 5%;
}

.featureOne
{
    height: 700px;
    width: 100%;
}

.styleDivTwo
{
    height: 85%;
    width: 40%;
    background-color: #535353;
    float: left;
    margin-left: 5%;
}

.featureOneText
{
    width: 50%;
    float: right;
    font-size: 290%;
    margin-top: 1%;
}

.featureTwo
{
    height: 700px;
    width: 100%;
}

.featureTwoText
{
    width: 40%;
    float: left;
    font-size: 290%;
    margin-top: 1%;
    margin-left: 5%;
}

.styleDivThree
{
    height: 85%;
    width: 40%;
    background-color: #535353;
    float: right;
    margin-right: 5%;
}

.featureThree
{
    height: 700px;
    width: 100%;
}

.featureThreeText
{
    width: 50%;
    float: right;
    font-size: 290%;
    margin-top: 1%;
}

.styleDivFour
{
    height: 85%;
    width: 40%;
    background-color: #535353;
    float: left;
    margin-left: 5%;
}

.footer
{
    background-color: #AEE5D1;
    width: 100%;
    height: 50%;
    line-height: 50px;
}

.footer p
{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    vertical-align: middle;
}