@import "./styles.scss";

#detailMainDiv {
    width: 100%;
    height: calc(100vh - $navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    padding: 3vw;
}

#detailImg {
    width: 300px;
    margin-right: 40px;
}

